<template>
    <Header />
    <h1>Add New Restaurant</h1>
    <form class="restForm">
        <input type="text" name="name" placeholder="Enter Name" v-model="restaurant.name">
        <input type="text" name="contact" placeholder="Enter Contact" v-model="restaurant.contact">
        <input type="text" name="address" placeholder="Enter Address" v-model="restaurant.address">
        <button type="button" v-on:click="addRestaurant">Add</button>
    </form>
</template>

<script>
import Header from '../Header.vue';
import axios from 'axios';
export default {
    name: 'AddRestaurant',
    components: {
        Header
    },
    data()
    {
        return {
            restaurant: {
                name: '',
                contact: '',
                address: ''
            }
        }
    },
    methods: {
        async addRestaurant()
        {
            let result = await axios.post("http://localhost:3000/restaurants",{
                name: this.restaurant.name,
                contact: this.restaurant.contact,
                address: this.restaurant.address
            });
            if(result.status == 201){
                this.$router.push({name: "Home"});
            }
        }
    },
    mounted()
    {
        let user = localStorage.getItem('loggedUser');
        if(!user){
            this.$router.push({name: 'SignUp'});
        }
    }
}
</script>