<template>
    <Header />
    <h1>Update Restaurant</h1>
    <form class="restForm">
        <input type="text" name="name" placeholder="Enter Name" v-model="restaurant.name">
        <input type="text" name="contact" placeholder="Enter Contact" v-model="restaurant.contact">
        <input type="text" name="address" placeholder="Enter Address" v-model="restaurant.address">
        <button type="button" v-on:click="updateRestaurant">Update</button>
    </form>
</template>

<script>
import Header from '../Header.vue';
import axios from 'axios';
export default {
    name: 'EditRestaurant',
    components: {
        Header
    },
    data()
    {
        return {
            restaurant: {
                name: '',
                contact: '',
                address: ''
            }
        }
    },
    methods: {
        async updateRestaurant()
        {
            let result = await axios.put("http://localhost:3000/restaurants/"+this.$route.params.id,{
                name: this.restaurant.name,
                contact: this.restaurant.contact,
                address: this.restaurant.address
            });
            console.warn(result);
            if(result.status == 200){
                this.$router.push({name: "Home"});
            }
        }
    },
    async mounted()
    {
        let user = localStorage.getItem('loggedUser');
        if(!user){
            this.$router.push({name: 'SignUp'});
        }

        let restId = this.$route.params.id;

        let result = await axios.get('http://localhost:3000/restaurants/'+ restId);
        console.warn(result);
        this.restaurant = result.data;
    }
}
</script>