<template>
<img class="logo" src="../assets/logo-app.png">
<h1>Login</h1>
<div class="login">
    <input type="text" v-model="email" name="" id="" placeholder="Enter your Email">
    <input type="password" v-model="password" name="" id="" placeholder="Enter Password">
    <button v-on:click="login">Login</button>
    <p>
        <router-link to="sign-up">SignUp</router-link>
    </p>
</div>
</template>
<script>
import axios from 'axios'
export default {
    name: 'LogIn',
    data()
    {
        return {
            email: '',
            password: ''
        }
    },
    methods: {
        async login ()
        {
            let result = await axios.get(
                `http://localhost:3000/users?email=${this.email}&password=${this.password}`
            );
            console.warn(this.email,this.password);
            console.warn(result.data.length);
            if(result.status == 200 && result.data.length > 0){
                localStorage.setItem('loggedUser', JSON.stringify(result.data[0]));
                this.$router.push({name: 'Home'});
            }
        }
    },
    mounted()
    {
        let user = localStorage.getItem('loggedUser');
        if(user){
            this.$router.push({name: 'Home'});
        }
    }
}
</script>

<style>

</style>