<template>
<img class="logo" src="../assets/logo-app.png">
<h1>Signup</h1>
<div class="register">
    <input type="text" v-model="name" name="" id="" placeholder="Enter your Name">
    <input type="text" v-model="email" name="" id="" placeholder="Enter your Email">
    <input type="password" v-model="password" name="" id="" placeholder="Enter Password">
    <button v-on:click="signUp">Sign up</button>
    <p>
        <router-link to="/login">Login</router-link>
    </p>
</div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'SignUp',
    data()
    {
        return {
            name: '',
            email: '',
            password: ''
        }
    },
    methods: {
        async signUp()
        {
            let result = await axios.post("http://localhost:3000/users", {
                name: this.name,
                email: this.email,
                password: this.password
            });
            console.warn(result);
            if(result.status == 201){
                localStorage.setItem("loggedUser", JSON.stringify(result.data));
                this.$router.push({name: 'Home'});
            }
        }
    },
    mounted()
    {
        let user = localStorage.getItem('loggedUser');
        if(user){
            this.$router.push({name: 'Home'});
        }
    }
}
</script>

<style>
</style>
